platform: linux

image_resource:
  type: docker-image
  source:
    repository: pcfkubo/kubo-ci
    tag: stable

params:

inputs:
  - name: git-kubo-ci
  - name: git-kubo-deployment
  - name: gcs-bosh-creds
  - name: kubo-lock

run:
  path: bash
  args:
  - -c
  - |
    set -eu
    source "git-kubo-ci/scripts/lib/utils.sh"
    eval "$(set_variables)"
    "git-kubo-deployment/bin/set_kubeconfig" "${cluster_name}" "${api_url}"
    ./git-kubo-deployment/bin/set_kubeconfig
    kubectl apply -f "git-kubo-ci/specs/guestbook.yml"
