platform: linux
image_resource:
  type: docker-image
  source:
    repository: gcr.io/cf-pks-golf/pcfkubo/kubo-ci
    tag: stable
run:
  path: git-kubo-ci/scripts/bump-boshrelease.sh
params:
  REPO_URL:
  RELEASE_NAME:
  ARRAY_POS: 0
  BASE_OPS_FILE: manifests/ops-files/non-precompiled-releases.yml
inputs:
  - name: git-kubo-ci
  - name: git-kubo-deployment
  - name: boshrelease

outputs:
  - name: git-kubo-deployment-output
