platform: linux
image_resource:
  type: docker-image
  source:
    repository: gcr.io/cf-pks-golf/pcfkubo/kubo-ci
    tag: stable
run:
  path: git-kubo-ci/scripts/check-version-match.sh

inputs:
  - name: git-kubo-ci
  - name: kubo-release
  - name: kubo-deployment
