platform: linux
image_resource:
  type: docker-image
  source:
    repository: pcfkubo/kubo-ci
    tag: stable
run:
  path: git-kubo-ci/scripts/cleanup-gcp-lbs.sh
params:
  GCP_SERVICE_ACCOUNT: ""

inputs:
  - name: git-kubo-ci

