---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: pcfkubo/kubo-ci

inputs:
- name: git-kubo-ci
- name: gcs-bosh-creds

outputs:
- name: kubo-lock

run:
  path: bash
  args:
  - -c
  - |
    set -euo pipefail
    cp gcs-bosh-creds/creds.yml kubo-lock/metadata
