platform: linux
image_resource:
  type: docker-image
  source:
    repository: pcfkubo/kubo-ci
    tag: stable

inputs:
- name: git-kubo-deployment
- name: git-kubo-ci
- name: gcs-load-balancer-vars

outputs:
- name: bosh-command

params:
  ADDONS_SPEC: "git-kubo-ci/specs/guestbook.yml"
  DEPLOYMENT_NAME: ci-service
  CFCR_MANIFEST_PATH: git-kubo-deployment/manifests/cfcr.yml
  BOSH_DEPLOY_COMMAND: "bosh-command/bosh-deploy.sh"
  ENABLE_MULTI_AZ_TESTS:
  IAAS:

run:
  path: git-kubo-ci/scripts/create-bosh-upgrade-deployment.rb
