platform: linux
image_resource:
  type: docker-image
  source:
    repository: pcfkubo/kubo-ci
    tag: stable
run:
  path: git-kubo-ci/scripts/deploy-turbulence.sh

params:

inputs:
  - name: git-kubo-ci
  - name: git-turbulence-release
  - name: kubo-lock
  - name: source-json
