platform: linux
image_resource:
  type: docker-image
  source:
    repository: pcfkubo/kubo-ci
    tag: stable
run:
  path: git-kubo-ci/scripts/run-kubo-drats-tests.sh
params:
  DEPLOYMENT_NAME:
inputs:
- name: git-kubo-ci
- name: source-json
- name: gcs-kubeconfig
- name: bbr-cli
- name: git-kubo-drats
  path: src/github.com/cloudfoundry-incubator/kubo-disaster-recovery-acceptance-tests

